<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Portfolio | Ryan Smith</title>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Ryan Smith</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Web Development Portfolio</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="mb-5">Not only do I take pride in tackling problems and finding innovative solutions, I enjoy it! </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          <br><br>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="https://drive.google.com/open?id=1sHRMNzLPVtBlq9TOJZQeNIWHo-r3iga4" target="_blank">View My Resume</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">I've Got What You Need!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">I am goal-oriented, results-driven, pragmatic, and very passionate about critical-thinking, problem solving, 
            and attention to detail. In my past, I have learned and implemented many interesting applications and games using C++ and C#. I recently 
            graduated from Coding Dojo, Silicon Valley Bootcamp and I am excited to enter the world of web development. I dedicated 1000+ hours 
            learning Python, JavaScript(MEAN)(MERN) and Ruby full stack. With this knowledge I was able to creating elaborate and creative apps! 
            Feel free to get in touch with me about any opportunities!</p>
            <br>
            <br>Looking for a website, or just want to know more about me? Feel free to contact me at any time! </p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">CONTACT</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fas fa-code text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Passionate Designs</h3>
            <p class="text-muted mb-0">My goal is to make your dreams a reality</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-aws text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Deployment</h3>
            <p class="text-muted mb-0">I use AWS/EC2 for deployment</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-react text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-angular text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Front End</h3>
            <p class="text-muted mb-0">I utilize several powerful front end frameworks</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa-4x fab fa-node text-primary mb-3 sr-icons"></i>
            <i class="fa-4x fab fa-python text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Back End</h3>
            <p class="text-muted mb-0">I enjoy coding in several back end languages and frameworks</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <h2 align="center" class="text-primary mb-4 bold">Projects</h2>
  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <!-- popup-gallery -->
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="http://alphablog.live" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/alpha_blog.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Built utilizing Ruby On Rails, Bootstrap, AWS & Git(Deployment). 
                </div>
                <div class="project-name">
                  Alpha Blog
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="https://github.com/EsC369/DevSpace" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/dev_space.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Built utilizing ES6+ Javascript, Node.js/Express, MongoDB, React & Redux, Twitter Bootstrap 4, AWS & Git(Deployment) 
                </div>
                <div class="project-name">
                  Dev Space
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="http://18.222.146.180/" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/stock_tracker.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    Built utilizing Ruby On Rails, Bootstrap, AWS & Git(Deployment).
                </div>
                <div class="project-name">
                  Stock Tracker
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/game.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  In Progress, Coming soon!
                </div>
                <div class="col-lg-4 col-sm-6 marg">
                  Under Construction
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="http://gprassociates.com/" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/gpr.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      In Progress, Coming soon!
                    </div>
                    <div class="col-lg-4 col-sm-6 marg">
                      Under Construction
                    </div>
                <!-- <div class="project-name">
                  GPR & Associates
                </div> -->
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 marg">
          <a class="portfolio-box" href="http://52.53.226.148/" target="_blank">
            <img class="img-fluid" src="img/portfolio/thumbnails/chatroom.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      In Progress, Coming soon!
                    </div>
                    <div class="col-lg-4 col-sm-6 marg">
                      Under Construction
                    </div>
                <!-- <div class="project-name">
                  Emoji Chat
                </div> -->
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-white" id="skills">
    <div class="container text-center">
      <h2 class="text-primary mb-4">Skills</h2>
      <h6 class="section-heading text-white">Front End:</h6>
      <p class="text-info mb-0"> React(MERN), Angular(MEAN), JavaScript, JQuery, Bootstrap, ​Ajax, Json. -HTML5, CSS3, JavaScript, jQuery, Bootstrap, React, Angular, Wordpress, Adobe Creative Cloud </p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Back End:</h6>
      <p class="text-info mb-0">Python, JavaScript, Ruby, Node.js, MEAN, MERN, AWS(EC2, Lambda), NGINX</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Languages:</h6>
      <p class="text-info mb-0">Python, JavaScript(ES6), Ruby, TypeScript, HTML, CSS, C++, C#.</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Frameworks:</h6>
      <p class="text-info mb-0">Django, Flask, Rails, Angular, React, React Native, Express, Socket.io.</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Databases:</h6>
      <p class="text-info mb-0">MongoDB, My SQL, SQLite, Postgress, NoSQL, Mongoose, Django ORM.</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Development Tools:</h6>
      <p class="text-info mb-0">Visual Studio,  Git,  MySQLWorkbench, Postman,  Atom,  Pycharm,  Sublime.</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Methodology:</h6>
      <p class="text-info mb-0">OOP, MVC, RESTful Architecture, CRUD Operations, Responsive Web Design.</p>
      <hr class="my-4">
      <h6 class="section-heading text-white">Others:</h6>
      <p class="text-info mb-0">Git/Github, Microsoft Office, Google Analytics, Adobe: Photoshop,premiere,dreamwaver, Jetbrains: Pycharm </p>
    </div>
  </section>

  <section class="bg-primary" id="social">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Social Links</h2>
          <hr class="my-4" style="border-color: white">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 ml-auto text-center">
          <a href="https://www.facebook.com/profile.php?id=100027683075380" target="_blank" style="color: black">
            <i class="fab fa-facebook fa-3x mb-3 sr-contact"></i>
            <p>Facebook</p>
          </a>
        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://twitter.com/EsCL337" target="_blank" style="color: black">
            <i class="fab fa-twitter-square fa-3x mb-3 sr-contact"></i>
            <p>Twitter</p>
          </a>
        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://www.linkedin.com/in/ryan-smith-31324b153/" target="_blank" style="color: black">
            <i class="fab fa-linkedin fa-3x mb-3 sr-contact"></i>
            <p>LinkedIn</p>
          </a>
        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://github.com/EsC369" target="_blank" style="color: black">
            <i class="fab fa-github-square fa-3x mb-3 sr-contact"></i>
            <p>Github</p>
          </a>
        </div>
        <div class="col-lg-2 mr-auto text-center">
          <a href="https://drive.google.com/open?id=1sHRMNzLPVtBlq9TOJZQeNIWHo-r3iga4" target="_blank" style="color: black">
            <i class="fab fa-google-drive fa-3x mb-3 sr-contact"></i>
            <p>Resume</p>
          </a>
        </div>
        
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contact Me </h2>
          <hr class="my-4">
          <p class="mb-5">Please Feel free to contact me with me about any questions or opportunities!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
          <p>209-768-0059</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="mailto:rksmith369@gmail.com">rksmith369@gmail.com</a>
          </p>
        </div>
      </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/creative.min.js"></script>

</body>

</html>